<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary navbar-expand-md bg-faded justify-content-center">
  <!-- <div class="navbar-collapse collapse w-100" id="collapsingNavbar3"> -->
    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand d-flex w-50 mr-auto" routerLink="/">WhatThe Gifts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
  <!-- </div> -->
</nav>