<div class="jumbotron">
  <p class="lead">Welcome to WHATTHE Gifts, the perfectly useless list of gifts that make no sense for all occasions.
    Honestly though the only person<br> behind the screen is one random dude who likes to think he's funny sometimes.
    Enjoy my list, I really just add to it when I come up<br> with some hilarous idea.
    <br>
    <br>
    WHATTHE Gifts recieves a small commission on some of the products shown as part of the Amazon Affiliate
    Program.
    <br>Not all of them though, because I'm lazy.
  </p>
</div>