<div class="jumbotron">
  <p class="lead">Welcome to ItsAJokeGift.com, the perfectly useless list of gifts that make no sense for all occasions.
    Honestly though the only person<br> behind the screen is one random dude who likes to think he's funny sometimes.
    Enjoy my list, I really just add to it when I come up<br> with some hilarous idea.
    <br>
    <br>
    ItsAJokeGift recieves a small commission on some of the products shown as part of the Amazon Affiliate
    Program.
  </p>
</div>