<div class="jumbotron">
    <p class="lead">Hey, I'm just a random washed up gamer who happens to know a little programming. Decided to make a website that has at least 
        some potential<br> to bring in some side money while also just being something to keep me busy (COVID-19 is when development started).
        A number of the<br> products shown will earn me a commission if bought through the links on the site, although not all of them
         do because I am<br> too lazy to get affiliated with anyone besides Amazon. I do not sell anything, I simply provide a list of gamer
          related products. If you have any issues,<br> please contact the seller directly.
        <br>
        <br>
        Feel free to contact me at ##EMAIL## with suggestions or if you're interested in filling my site with ads so I can become a millionare.
    </p>
  </div>