.products-grid {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    max-width: 80%;
  }
  
  .products-item {
    box-sizing: border-box;
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
  }