<div class="col-xs-12">

    <div class="filter-form centered">
        <form [formGroup]="searchForm">
            <label class="form-label" for="searchTerm">Search: </label>
            <input class="form-control round" id="searchTerm" aria-describedby="searchTerm" placeholder="Search"
                formControlName="searchTerm">
            <label class="form-label" for="minPrice">Minimum Price: </label>
            <input class="form-control round" id="minPrice" aria-describedby="minPrice"
                placeholder="Min Price" formControlName="minPrice">
            <label class="form-label" for="maxPrice">Maximum Price: </label>
            <input class="form-control round" id="maxPrice" aria-describedby="maxPrice" placeholder="Max Price"
                formControlName="maxPrice">
        </form>
    </div>

    <div class="products-grid" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
        <app-product-card class="products-item" *ngFor="let product of products" [product]='product'>
        </app-product-card>
    </div>
</div>